*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

span.material-icons-outlined {
   color: #c2cbe2;
   height: 30%;
   margin: 1.5vh;
   font-size: 6vh;
}
/* NAV */
nav{
}
.nav{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
#navbar{

}
/* Logo */
div{

}
.logo{

}
a{

}

ul.nav-list{
   width: 45%;
   display: flex;
   flex-flow: row wrap;
   padding-right: 1vh;
   list-style: none;
   justify-content: space-around;
}
li{
   align-items: center;
   justify-items: center;
   justify-content: center;
   align-items: center;
   display: flex;
}
li a{

}
@media (max-width:768px) {
   *{
      border 0;
      padding: 0;
      margin: 0;
   }
   .nav{
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      justify-content:flex-start;
      background-color: lightblue;
      overflow: hidden;
   }
   .logo{
      display: flex;
      align-items: center;
      justify-content: flex-start;
   }
   ul.nav-list{
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-bottom: 1vh;
      width: 100%;
      height: 25%;
   }
   ul.nav-list li{
      width: 100%;
      /* display: flexbox; */
      height: 40px;
   }
   /* div.logo{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
   } */
}